{{!-- แบบสรุปข้อมูลการจาหน่าย /ส่งต่อผู้ป่วยเพื่อการดูแลต่อเนื่อง(สูติ/หลังคลอด) --}}

<br>
<div class="row z-depth-3">
  <div class="col s12">

    {{!-- Form --}}
    <form action="/patient/form3/save/{{patient.id}}" method="post">
      <div class="row"></div>
      <div class="col s12 center">
        <span style="font-size: 125%; font-weight: bold;">แบบสรุปข้อมูลการจาหน่าย /ส่งต่อผู้ป่วยเพื่อการดูแลต่อเนื่อง(สูติ/หลังคลอด)</span>
      </div>
      <div class="row"></div>
      <div class="row"></div>
      {{!-- First Line --}}

      <div class="col s2">
        <label>หอผู้ป่วย</label>
        <input type="text" name="dorm" placeholder="หอผู้ป่วย">
      </div>
      <div class="col s2 offset-s8">
        <label>เตียง/ห้อง</label>
        <input type="text" name="room" placeholder="เตียง/ห้อง">
      </div>
      <div class="row"></div>
      <div class="col s4">
        <label>ชื่อ-สกุล</label>
        <input type="text" name="name" placeholder="ชื่อ-สกุล" value="{{patient.name}}" >
      </div>
      <div class="col s2">
        <label>อายุ (ปี)</label>
        <input type="number" name="age" placeholder="อายุ (ปี)" value="{{patient.age}}" >
      </div>
      <div class="col s2">
        <label>HN</label>
        <input type="text" name="HN" placeholder="HN" value="{{patient.HN}}" >
      </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <label for="">ที่อยู่(ปัจจุบัน)</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="col s2">
          <label>เลขที่</label>
          <input type="text" name="addr1" placeholder="เลขที่" value="{{patient.addr1}}" >
        </div>
        <div class="col s3">
          <label>หมู่/ถนน</label>
          <input type="text" name="addr2" placeholder="หมู่/ถนน" value="{{patient.addr2}}" >
        </div>
        <div class="col s3">
          <label>ตำบล</label>
          <input type="text" name="addr3" placeholder="ตำบล" value="{{patient.addr3}}" >
        </div>

        <div class="col s3">
          <label>อำเภอ</label>
          <input type="text" name="addr4" placeholder="อำเภอ" value="{{patient.addr4}}" >
        </div>
        <div class="row"></div>
        <div class="col s3 l2">
          <label>จังหวัด</label>
          <select id="addr5" name="addr5" >
            {{#select patient.addr5}}
            <option value='กรุงเทพมหานคร'>กรุงเทพมหานคร</option>
            <option value='กระบี่'>กระบี่</option>
            <option value='กาญจนบุรี'>กาญจนบุรี</option>
            <option value='กาฬสินธุ์'>กาฬสินธุ์</option>
            <option value='กำแพงเพชร'>กำแพงเพชร</option>
            <option value='ขอนแก่น'>ขอนแก่น</option>
            <option value='จันทบุรี'>จันทบุรี</option>
            <option value='ฉะเชิงเทรา'>ฉะเชิงเทรา</option>
            <option value='ชลบุรี'>ชลบุรี</option>
            <option value='ชัยนาท'>ชัยนาท</option>
            <option value='ชัยภูมิ'>ชัยภูมิ</option>
            <option value='ชุมพร'>ชุมพร</option>
            <option value='เชียงราย'>เชียงราย</option>
            <option value='เชียงใหม่'>เชียงใหม่</option>
            <option value='ตรัง'>ตรัง</option>
            <option value='ตราด'>ตราด</option>
            <option value='ตาก'>ตาก</option>
            <option value='นครนายก'>นครนายก</option>
            <option value='นครปฐม'>นครปฐม</option>
            <option value='นครพนม'>นครพนม</option>
            <option value='นครราชสีมา'>นครราชสีมา</option>
            <option value='นครศรีธรรมราช'>นครศรีธรรมราช</option>
            <option value='นครสวรรค์'>นครสวรรค์</option>
            <option value='นนทบุรี'>นนทบุรี</option>
            <option value='นราธิวาส'>นราธิวาส</option>
            <option value='น่าน'>น่าน</option>
            <option value='บึงกาฬ'>บึงกาฬ</option>
            <option value='บุรีรัมย์'>บุรีรัมย์</option>
            <option value='ปทุมธานี'>ปทุมธานี</option>
            <option value='ประจวบคีรีขันธ์'>ประจวบคีรีขันธ์</option>
            <option value='ปราจีนบุรี'>ปราจีนบุรี</option>
            <option value='ปัตตานี'>ปัตตานี</option>
            <option value='พระนครศรีอยุธยา'>พระนครศรีอยุธยา</option>
            <option value='พังงา'>พังงา</option>
            <option value='พัทลุง'>พัทลุง</option>
            <option value='พิจิตร'>พิจิตร</option>
            <option value='พิษณุโลก'>พิษณุโลก</option>
            <option value='เพชรบุรี'>เพชรบุรี</option>
            <option value='เพชรบูรณ์'>เพชรบูรณ์</option>
            <option value='แพร่'>แพร่</option>
            <option value='พะเยา'>พะเยา</option>
            <option value='ภูเก็ต'>ภูเก็ต</option>
            <option value='มหาสารคาม'>มหาสารคาม</option>
            <option value='มุกดาหาร'>มุกดาหาร</option>
            <option value='แม่ฮ่องสอน'>แม่ฮ่องสอน</option>
            <option value='ยะลา'>ยะลา</option>
            <option value='ยโสธร'>ยโสธร</option>
            <option value='ร้อยเอ็ด'>ร้อยเอ็ด</option>
            <option value='ระนอง'>ระนอง</option>
            <option value='ระยอง'>ระยอง</option>
            <option value='ราชบุรี'>ราชบุรี</option>
            <option value='ลพบุรี'>ลพบุรี</option>
            <option value='ลำปาง'>ลำปาง</option>
            <option value='ลำพูน'>ลำพูน</option>
            <option value='เลย'>เลย</option>
            <option value='ศรีสะเกษ'>ศรีสะเกษ</option>
            <option value='สกลนคร'>สกลนคร</option>
            <option value='สงขลา'>สงขลา</option>
            <option value='สตูล'>สตูล</option>
            <option value='สมุทรปราการ'>สมุทรปราการ</option>
            <option value='สมุทรสงคราม'>สมุทรสงคราม</option>
            <option value='สมุทรสาคร'>สมุทรสาคร</option>
            <option value='สระแก้ว'>สระแก้ว</option>
            <option value='สระบุรี'>สระบุรี</option>
            <option value='สิงห์บุรี'>สิงห์บุรี</option>
            <option value='สุโขทัย'>สุโขทัย</option>
            <option value='สุพรรณบุรี'>สุพรรณบุรี</option>
            <option value='สุราษฎร์ธานี'>สุราษฎร์ธานี</option>
            <option value='สุรินทร์'>สุรินทร์</option>
            <option value='หนองคาย'>หนองคาย</option>
            <option value='หนองบัวลำภู'>หนองบัวลำภู</option>
            <option value='อ่างทอง'>อ่างทอง</option>
            <option value='อุดรธานี'>อุดรธานี</option>
            <option value='อุทัยธานี'>อุทัยธานี</option>
            <option value='อุตรดิตถ์'>อุตรดิตถ์</option>
            <option value='อุบลราชธานี'>อุบลราชธานี</option>
            <option value='อำนาจเจริญ'>อำนาจเจริญ</option>
            {{/select}}
          </select>
        </div>
        <div class="col s3 l2">
          <label>โทรศัพท์</label>
          <input type="tel" name="phone" placeholder="โทรศัพท์" value="{{patient.phone}}" >
        </div>
        <div class="col s3 l2">
          <label>สถานที่ใกล้เคียง</label>
          <input type="text" name="nearbyplace" placeholder="สถานที่ใกล้เคียง">
        </div>
        <div class="col s3 l2">
          <label>อาชีพ</label>
          <input type="text" name="job" placeholder="อาชีพ" value="{{patient.job}}" >
        </div>
      </div>
      <div class="col s3">
        <label>วันที่อยู่ป่วย</label>
        <input type="text" name="checkInDate" class="datepicker" placeholder="วันที่อยู่ป่วย">
      </div>
      <div class="col s2">
        <label>เวลา</label>
        <input type="tel" name="checkInTime" class="timepicker" placeholder="เวลา">
      </div>
      <div class="col s3 offset-s4">
        <label>แพทย์</label>
        <input type="text" name="doctor" placeholder="แพทย์">
      </div>
      <div class="col s12">
        <label>อาการสำคัญ</label>
        <input type="text" name="symptom" placeholder="อาการสำคัญ">
      </div>

      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <label for="">อาการปัจจุบัน</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="col s1">
          <label>G</label>
          <input type="text" name="G" placeholder="G" value="{{patient.G}}" >
        </div>
        <div class="col s1">
          <label>P</label>
          <input type="text" name="P" placeholder="P" value="{{patient.P}}" >
        </div>
        <div class="col s2 l1 ">
          <label>GA (wks)</label>
          <input type="text" name="GA" placeholder="GA (wks)" value="{{patient.GA}}" >
        </div>
        <div class="col s8 l9">
          <label>...</label>
          <input type="text" name="currentSymptom" placeholder="อาการปัจจุบัน">
        </div>
        <div class="col s4">
          <label>ภาวะแทรกซ้อน</label>
          <input type="text" name="complications" placeholder="ภาวะแทรกซ้อน">
        </div>
        <div class="col s8">
          <label>โรคประจำตัว</label>
          <input type="text" name="congenitalDisorder" placeholder="โรคประจำตัว">
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <label for="">สัญญานชีพแรกรับ</label>
          </div>
        </div>
      </div>
      <div class="col s12">
        <div class="col s1">
          <label>T (c)</label>
          <input type="text" name="T" placeholder="T (c)">
        </div>
        <div class="col s1">
          <label>P /min</label>
          <input type="text" name="pressure" placeholder="P /min">
        </div>
        <div class="col s1">
          <label>R /min</label>
          <input type="text" name="R" placeholder="R /min">
        </div>
        <div class="col s2 l1">
          <label>BP (mmHg)</label>
          <input type="text" name="BP" placeholder="BP (mmHg)">
        </div>
        <div class="col s1">
          <label>O2Sat %</label>
          <input type="text" name="O2Sat" placeholder="O2Sat%">
        </div>
        <div class="col s2">
          <label>น้ำหนัก (กก.)</label>
          <input type="number" name="weight" placeholder="น้ำหนัก (กก.)" value="{{patient.weight}}" >
        </div>
        <div class="col s1 l2">
          <label>สูง (ซม.)</label>
          <input type="number" name="height" placeholder="สูง (ซม.)" value="{{patient.height}}" >
        </div>
        <div class="col s2 l3">
          <label>BMI</label>
          <input type="text" name="BMI" placeholder="BMI">
        </div>
      </div>
      <div class="col s6">
        <label>Diagnosis(1)</label>
        <input type="text" name="Diagnosis1" placeholder="Diagnosis(1) ">
      </div>
      <div class="col s6">
        <label>Diagnosis(2)</label>
        <input type="text" name="Diagnosis2" placeholder="Diagnosis(2)">
      </div>



      <div class="row"></div>
      <div class="col s10"></div>
      <div class="col s2">
        <button class="btn waves-effect waves-light right" type="submit" name="action">Save</button>
      </div>
      <div class="row"></div>
    </form>
    <!-- End Form -->
  </div>
</div>