<div class="row"></div>
<div class="row">
  <div class="col s3 m3"></div>
  <div class="col s6 m6 z-depth-3 ">
    <img src="/img/logo.png" class="logo">
    <h4 class="center-align"><i class="fa fa-pencil-alt"></i> {{users.firstName}} {{users.lastName}}</h4>
    <br>
    <div class="row col s12 register">

      <form action="/user/manage/edit/{{users._id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="input-field col s6">
          <input type="text" name="firstName" id="firstName" class="validate" value="{{users.firstName}}" required>
          <label for="firstName">
            <i class="fa fa-user"></i> First Name</label>
        </div>
        <div class="input-field col s6">
          <input type="text" name="lastName" id="lastName" class="validate" value="{{users.lastName}}" required>
          <label for="lastName">
            <i class="fa fa-user"></i> Last Name</label>
        </div>
        <div class="input-field col s12">
          <input type="text" name="username" id="username" class="validate" value="{{users.username}}" required>
          <label for="username">
            <i class="fa fa-user"></i> Username</label>
        </div>
        <div class="input-field col s12">
          <input type="email" name="email" id="email" class="validate" required value="{{users.email}}">
          <label for="email">
            <i class="fa fa-envelope"></i> Email</label>
        </div>
        <div class="input-field col s12">
          <input type="password" name="password" id="password" class="validate" required>
          <label for="pasword">
            <i class="fa fa-lock"></i> New Password</label>
        </div>
        <div class="input-field col s12">
          <input type="password" name="check_password" id="check_password" class="validate" required>
          <label for="check_password">
            <i class="fa fa-lock"></i> Confirm Password</label>
        </div>
        <br>
        <div>
          <button type="submit" class="btn waves-effect waves-light green left">Update</button>
          <a class="btn waves-effect waves-light red right" href="javascript:history.back()" name="action">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <div class="col s3 m3"></div>
</div>